
.table {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

th.chart-header {
   
    padding: 5px;
}

th.coin-text {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    
}

td.price-text {
    border-bottom: 1px solid black;
   
}
