
.tables {
    display: flex;
    justify-content: center;
    align-items: center;
}

.price-table {
    margin-top: 5%;
    margin-right: 5px;
    color: whitesmoke;
    float: left;
    
}

table {
    border: 1px solid #72435C;
    padding: 10px;
    background: #464555;
    -webkit-box-shadow: 0 10px 6px -6px rgb(0, 0, 0);
    -moz-box-shadow: 0 10px 6px -6px rgb(0, 0, 0);
    box-shadow: 0 10px 6px -6px rgb(0, 0, 0);
}


.spread-data {
    margin-left: 5px;
    float: left;
}

th.chart-header {
   
    padding: 5px;
}

th.coin-text {
    border-bottom: 1px solid #F3A889;
    border-right: 1px solid #F3A889;
    
}

td.price-text {
    border-bottom: 1px solid #F3A889;
   
}

.spread-data {
    color: white;
    list-style-type: none;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #4d80e4; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .last-check {
    color: whitesmoke;
    background: #72435C;
    margin: 0px;
    padding: 20px;
  }
